<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Siyu Yang</h1>

    </div>

<div class="row">

  <div>
    <p>
     I am a rising Junior at Brandeis University.
       <li> I was born in Dalian, China and raised in Beijing, China.</li>
       <li>Dalian is a beautiful city, so does Beijing.</li>
    </p>

    <img src="images/PictureOfMe.jpeg" width="400">
  <hr>

    <h2>
      Check out some pictures of the two cities!
    </h2>
    <ul>
      <li> <a href="https://digital.ihg.com/is/image/ihg/intercontinental-dalian-5109507533-2x1?fit=fit,1&wid=2400&hei=1200&qlt=85,0&resMode=sharp2&op_usm=1.75,0.9,2,0">picture of
        Dalian</a></li>

      <li> <a href="http://p3.itc.cn/q_70/images03/20200720/e535be7bbe1940f492389726c7bcf597.jpeg">Dalian City port</a></li>
      <li> <a href="https://i.ytimg.com/vi/-UuJxmU6OCQ/maxresdefault.jpg">Modern part of Beijing</a></li>
      <li> <a href="https://pic1.zhimg.com/80/v2-1f4b305d8869ad598b67df228df05420_1440w.jpg">The culture deposits at Beijing</a></li>
    </ul>
  </div>

  <hr>
    <h6>Fun fact: I have two cats. For what reason?</h6>
    <ol>
      <li>No need to walk-good choice for students and workers!</li>
      <li>Cute</li>
      <li>Cute</li>
    </ol>

      <hr>
    <h6>Here are two of my cats: </h6>
    <div class="row">
      <div class="col">
        Cat 1: "Black tiger"
        <img src="images/Black.jpeg" width="200">

      </div>
      <div class="col">
        Cat2: "Gentleman"
          <img src="images/Grey.jpeg" width="200">
      </div>
    </div>


</div>


 <!--
  also add a list and some links
  to your bio,
  and maybe a table ...
-->

<%- include('bootfooter') -%>
