<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
    <h1>Do you know...</h1>
    <p>It's sufficient for people just intake around 2200 calories a day?</p>
</div>


<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Men(Biological)</th>
      <th>Women(Biological)</th>
      <th>Children(between 6~12)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2500 Calories</td>
      <td>2000 Calories</td>
      <td>1600~2200 Caloreis for most kids</td>
    </tr>

  </tbody>
</table>

<hr>
<h2>Check out the calories chart for more information:</h2>
<ol>
     <li><a href="https://www.uncledavesenterprise.com/file/health/Food%20Calories%20List.pdf">Caloreis chart-general</a></li>
     <li><a href="https://i.pinimg.com/564x/e8/94/ac/e894ac10e432b598b1a7d04805114a22.jpg">Meat and Fish</a></li>
     <li><a href="https://i.pinimg.com/originals/17/b6/9b/17b69b144d3d04002fdc493205814b35.jpg">Drink</a></li>
</ol>



<%- include('bootfooter') -%>
