<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Lets have some healthy food!</h1>
        <p>Designed for health and based on personal needs</p>
    </div>
    <img width="300" src="https://sneakers4funds.com/wp-content/uploads/2019/10/healthy-food-1024x1024.jpg">

    <body>

<h1>Want to say hi?</h1>
<button type="button" onclick="alert('Hi there')">Click me</button>

</body>



<%- include('bootfooter') -%>
